<% include header %>

	<% if (match) { %>
		<div class="ui grid">
		<% for (match of match){ %>
        	<% if (match.id !== myid) { %>
		<div class="four wide column">
			<div class="ui cards">
				<div class="card">
					<div class="content">
					<div class="header">
						<a href="/show/<%= match.id %>"><%= match.pseudo %></a>
					</div>
					<div class="meta">
						<% if (match.isconnected == 1) { %>
							<div class="item">
								<p><i class="green circle icon"></i>En ligne</p>
							</div>
						<% } %>
						<% if (match.isconnected == 0) { %>
							<div class="item">
								<p><i class="red circle icon"></i>Hors ligne</p>
							</div>
						<% } %>
					</div>
					<div class="meta">
						<a><%= match.date_match.fromNow() %></a>
					</div>
					</div>
					<div class="extra content">
					<div class="ui two buttons">
							<a href="/message/<%= match.id %>/<%= match.pseudo %>"><button value="message" class="ui red inverted labeled submit icon button">
								<i class="comments icon"></i>Ecrire un message
							</button></a>
					</div>
				</div>
			</div>		
		</div>
	</div>
	<% } %>
	<% } %>
	</div>
	<% } %>

<% include footer %>